build/
logs/
repo/
*.pkg.tar.*
*.pkg.tar.*.sig
*.src.tar.*
src/
pkg/
packages/*/src/
packages/*/pkg/
packages/*/*.pkg.tar.*
packages/*/*.pkg.tar.*.sig
packages/*/*.src.tar.*
packages/sway-groups/sway/
packages/waybar-groups/Waybar/
