[Unit]
Description=Weekly kottz Arch package maintenance

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
